<header class="header">
    <div>
      <a href="https://project-promo-v-module-4-team-2.onrender.com" class="header__link" to="/">
        <i class="fa-solid fa-laptop-code header__link--icon"></i>
      </a>
    </div>
    <div class="header__text">
      <h1 class="header__text--title">Proyectos Molones</h1>
    </div>
  </header>

  