<header className="header">
    <a href="/web/src/components/Landing.jsx" className="header__link" to="/">
      <p className="">
        <i className="fa-solid fa-laptop-code header__link--icon"></i>
      </p>
    </a>
    <div className="header__text">
      <h1 className="header__text--title">Proyectos Molones</h1>
    </div>
  </header>

  