<header class="header">
    <div>
      <a href="/web/src/components/Landing.jsx" class="header__link" to="/">
        <i class="fa-solid fa-laptop-code header__link--icon"></i>
      </a>
    </div>
    <div class="header__text">
      <h1 class="header__text--title">Proyectos Molones</h1>
    </div>
  </header>

  